@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0d293a;
    color: aliceblue;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0d293a;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-start;
    cursor: initial;
}

#menuToggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #F9F6EE;
    transition: color 0.3s;
}

a:hover {
    color: #007BFF;
}

header {
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header h1 { 
    /* background-color: rgba(245, 245, 245, .2); */
    background-color: rgba(1, 1, 1, .7);
    padding-left: 25px;
    padding-right: 20px;
    /* color: rgba(10, 10, 10, .8); */
    color: #F9F6EE;
    font-size: 140px;
    font-style: bold;
    border-radius: 2px;
 }

h2 {
    color: #f0eff0;
    text-align: center;
    margin-top: 40px;
    font-size: 70px;
}

p{
   font-size: 35px;  
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 400px;
    padding-bottom: 400px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 500px;
}

textarea, textarea::placeholder {
    font-family: 'Poppins', sans-serif;
    opacity: 0.7;
}

input, textarea, button {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #F5F5F4;
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: #007BFF;
    color: #F9F6EE;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

/* #backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: #555;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
} */

#backToTop {
    display: none; /* Initially hide it */
    position: fixed;
    bottom: 20px;
    left: 50%;  /* Adjust this to position at center */
    transform: translateX(-50%);  /* Adjust this to truly center the button */
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent; /* Making the background transparent */
    color: #555; /* Changing color to gray */
    cursor: pointer;
    padding: 10px; /* Reducing padding */
    font-size: 20px; /* Adjusting size of the triangle */
}

#backToTop:hover {
    color: #007BFF;
}

/* .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
} */

/* .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
} */


@media (max-width: 768px) {
    .logo h1 {
        display: none;  /* Hide the logo text on mobile */
    }

    #menu {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 13px;
        left: 50%;
        transform: translateX(-50%);
        width: 92%;
        background-color: #F9F6EE;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    header {
        height: 100vh;
        background-image: url('https://images.unsplash.com/photo-1534795990280-989516f4dec3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3474&q=80');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menuToggle {
        display: flex;
        z-index: 2;
    }
}

/* Added smooth scroll */
html {
    scroll-behavior: smooth;
}

#about-me p{
    padding: 0px 120px 0px 120px;
}

#use-cases-results p{
    padding: 0px 120px 0px 120px;
}

#contact p{
    padding: 0px 120px 0px 120px;
}

p {
    padding: 10px 20px 10px 20px;
    text-align: left;
    font-size: 30px;
}